### Practice Problem #3: Load and Filter the Dataset
This is a bit of a bigger task, which involves choosing a dataset to load and filtering it based on a specified month and day. In the quiz below, you'll implement the load_data() function, which you can use directly in your project. There are four steps:

* **Load the dataset for the specified city.** Index the global CITY_DATA dictionary object to get the corresponding filename for the given city name.
* **Create month and day_of_week columns.** Convert the "Start Time" column to datetime and extract the month number and weekday name into separate columns using the datetime module.
*  **Filter by month.** Since the month parameter is given as the name of the month, you'll need to first convert this to the corresponding month number. Then, select rows of the dataframe that have the specified month and reassign this as the new dataframe.
* **Filter by day of week.** Select rows of the dataframe that have the specified day of week and reassign this as the new dataframe. (Note: Capitalize the day parameter with the title() method to match the title case used in the day_of_week column!)

In [1]:
import pandas as pd

In [2]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA.get(city))

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        # Note that the month from dt come as numbers
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month']==month]
        

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week']==day.title()]
        # print(df.head())
    return df
    
df = load_data('chicago', 'march', 'friday')

In [3]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
37,395803,2017-03-24 15:35:55,2017-03-24 15:46:10,615,Dearborn St & Erie St,State St & Van Buren St,Subscriber,Male,1989.0,3,Friday
93,395735,2017-03-24 15:32:04,2017-03-24 15:52:53,1249,Sedgwick St & Webster Ave,Western Ave & Winnebago Ave,Subscriber,Female,1964.0,3,Friday
175,395402,2017-03-24 15:10:29,2017-03-24 15:19:44,555,Franklin St & Monroe St,Aberdeen St & Monroe St,Subscriber,Male,1987.0,3,Friday
190,393400,2017-03-24 12:29:30,2017-03-24 12:48:56,1166,Southport Ave & Wellington Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1984.0,3,Friday
198,427496,2017-03-31 08:25:53,2017-03-31 08:39:09,796,Clinton St & Jackson Blvd,Racine Ave (May St) & Fulton St,Subscriber,Male,1983.0,3,Friday

In [4]:
# print(f"Most commonly used start and end stations: "
df = load_data('washington', 'all', 'all')
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,month,day_of_week
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,6,Wednesday
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,3,Saturday
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,5,Tuesday
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,4,Sunday
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,6,Saturday

In [5]:
df['Start Station'].mode()[0]

'Columbus Circle / Union Station'

In [6]:
df['End Station'].mode()[0]

'Columbus Circle / Union Station'

In [7]:
df.groupby(['Start Station', 'End Station']).size().idxmax()

('Jefferson Dr & 14th St SW', 'Jefferson Dr & 14th St SW')

In [50]:
df.groupby(['End Station']).size().nlargest(1)

End Station
Streeter Dr & Grand Ave    7512
dtype: int64

In [51]:
df['day_of_week'].value_counts().idxmax()

'Tuesday'

In [52]:
df['day_of_week'].mode()[0]

'Tuesday'

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  datetime64[ns]
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
 9   month          300000 non-null  int64
 10  day_of_week    300000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 25.2+ MB