### Practice Problem #3: Load and Filter the Dataset
This is a bit of a bigger task, which involves choosing a dataset to load and filtering it based on a specified month and day. In the quiz below, you'll implement the load_data() function, which you can use directly in your project. There are four steps:

* **Load the dataset for the specified city.** Index the global CITY_DATA dictionary object to get the corresponding filename for the given city name.
* **Create month and day_of_week columns.** Convert the "Start Time" column to datetime and extract the month number and weekday name into separate columns using the datetime module.
*  **Filter by month.** Since the month parameter is given as the name of the month, you'll need to first convert this to the corresponding month number. Then, select rows of the dataframe that have the specified month and reassign this as the new dataframe.
* **Filter by day of week.** Select rows of the dataframe that have the specified day of week and reassign this as the new dataframe. (Note: Capitalize the day parameter with the title() method to match the title case used in the day_of_week column!)

In [1]:
import pandas as pd

In [16]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA.get(city))

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        # Note that the month from dt come as numbers
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month']==month]
        

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week']==day.title()]
        # print(df.head())
    return df
    
df = load_data('chicago', 'march', 'friday')

In [17]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
40,2017-03-24 13:06:37,2017-03-24 13:10:44,247,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Subscriber,Female,1961.0,3,Friday
59,2017-03-03 07:55:48,2017-03-03 7:57:41,113,Clark St & Chicago Ave,Wells St & Huron St,Subscriber,Male,1981.0,3,Friday
68,2017-03-17 12:14:50,2017-03-17 12:22:38,468,Dearborn Pkwy & Delaware Pl,State St & Randolph St,Subscriber,Female,1984.0,3,Friday
75,2017-03-10 13:40:54,2017-03-10 13:45:09,255,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Female,1983.0,3,Friday
83,2017-03-24 14:15:43,2017-03-24 14:27:04,681,Sheridan Rd & Lawrence Ave,Broadway & Thorndale Ave,Subscriber,Male,1984.0,3,Friday